<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
    </script>
    <title>ToDo</title>
</head>

<body>
    <div id="app">
        <h2>Список задач</h2>
        <input type="text" 
        placeholder="Введите новую задачу" 
        v-model="newElem" 
        @keyup.enter="addNewElems">
        <button @click="addNewElems">Добавить</button>
        <hr>
        <ol>
            <li v-for="(elem, i) in listElem">{{elem}}</li>
        </ol>     
        <h2 v-show="listElem.length == 0">Список пуск</h2>   
        <hr>
        <p>количество задач: {{listElem.length}}  
            <button @click="listElem.splice(i)">Очистить</button>
        </p>
    </div>
    <script src="code.js"></script>
</body>

</html>